.user-bottom-div {
	display:block;
	text-align:center;
	background-color:#ddd;
	position:fixed;
	bottom:0;
	width:100%;
	height:50px;
	line-height:50px;
}

.user-center-div-col-md-10 {
	margin-bottom:50px;
}

.login-div-center {
	position: absolute;
	top: 45%;
	left: 50%;
	width: 500px;
	border-radius: 4px;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.07);
	transform: translate(-50%, -50%);
	background-color: #f6f7f8;
}

.lsb-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.mypanalbox {
    background-color: #FFF;
    border-radius: 8px;
    box-shadow: 3px 3px 3px;
}

.login-form {
	margin: 20px;
}

.sidebar {
	position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    #z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}


.dbom-loadzone{position: fixed; z-index: 9999; text-align: center; height: 100%; width: 100%;background: url('/static/admin/img/loading_bg.png') repeat;display: none}
.dbom-loadzone .dbom-loading{margin: 0 auto; height: 106px; width: 106px; margin: 180px auto 0 auto; background-color: #fff;}
.dbom-loadzone .dbom-loading>img{padding-top: 14px; width: 50%;}
.dbom-loadzone .dbom-loading>p{margin: 0; padding: 0; color: #000; font-size: 14px; line-height: 28px;}
